# Dependencias
node_modules
functions/node_modules
vidriera/node_modules

# Logs y archivos de depuración de Firebase
*.log
firebase-debug.log
firebase-debug.*.log

# Archivos de compilación (builds)
# La carpeta /vidriera/out está configurada para el deploy en firebase.json.
# Si la generas localmente antes de subir, no la ignores.
# Si la generas en un servidor, puedes ignorarla. Por ahora, no la ignoraremos.
# vidriera/out
vidriera/.next
juego/dist

# Archivos del sistema operativo
.DS_Store
Thumbs.db
